<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit) ="onCreate()" novalidate #f="ngForm">
                <div class="form-group mt-3">
                    <label for="tipoEvento">Tipo Evento</label>
                    <input type="text" class="form-control" id="tipoEvento" name="tipoEvento" [(ngModel)]="tipoEvento" required>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
                </div>
                <div class="form-group mt-3">
                    <label for="horaInicio">Hora de Inicio</label>
                    <input type="text" class="form-control" id="horaInicio" name="horaInicio" [(ngModel)]="horaInicio" required>
                </div>
                <div class="form-group mt-3">
                    <label for="horaFin">Hora de Fin</label>
                    <input type="text" class="form-control" id="horaFin" name="horaFin" [(ngModel)]="horaFin" required>
                </div>
                <div class="form-group mt-3">
                    <label for="comidaCena">Comida o cena (Introducir una de las dos opciones)</label>
                    <input type="text" class="form-control" id="comidaCena" name="comidaCena" [(ngModel)]="comidaCena" required>
                </div>
                <div class="form-group mt-3">
                    <label for="numeroComensales">Número de comensales</label>
                    <input type="text" class="form-control" id="numeroComensales" name="numeroComensales" [(ngModel)]="numeroComensales" required>
                </div>
                <div class="form-group mt-3">
                    <label for="numeroContratoAsociado">Numero Contrato asociado</label>
                    <input type="text" class="form-control" id="numeroContratoAsociado" name="numeroContratoAsociado" [(ngModel)]="numeroContratoAsociado" required>
                </div>
                <div class="form-group mt-3">
                  <label for="menu">Menú</label>
                  <input type="text" class="form-control" id="menu" name="menu" [(ngModel)]="menu" required>
                </div>
                <div class="form-group mt-3">
                  <label for="menuInfantil">Menú infantil</label>
                  <input type="text" class="form-control" id="menuInfantil" name="menuInfantil" [(ngModel)]="menuInfantil" required>
                </div>
                <div class="form-group mt-3">
                  <label for="menuEspecial">Menú especial</label>
                  <input type="text" class="form-control" id="menuEspecial" name="menuEspecial" [(ngModel)]="menuEspecial">
                </div>
                <div class="form-group mt-3">
                  <label for="planos">Planos</label>
                  <input type="text" class="form-control" id="planos" name="planos" [(ngModel)]="planos" required>
                </div>
                <div class="form-group mt-3">
                  <label for="dj">DJ</label>
                  <input type="text" class="form-control" id="dj" name="dj" [(ngModel)]="dj">
                </div>
                <div class="form-group mt-3">
                  <label for="musicaSalon">Música salón</label>
                  <input type="text" class="form-control" id="musicaSalon" name="musicaSalon" [(ngModel)]="musicaSalon">
                </div>
                <div class="form-group mt-3">
                  <label for="musicaAperitivo">Música aperitivo</label>
                  <input type="text" class="form-control" id="musicaAperitivo" name="musicaAperitivo" [(ngModel)]="musicaAperitivo">
                </div>
                <div class="form-group mt-3">
                  <label for="musicaBaile">Música baile</label>
                  <input type="text" class="form-control" id="musicaBaile" name="musicaBaile" [(ngModel)]="musicaBaile">
                </div>
                <div class="form-group mt-3">
                  <label for="barraLibre">Barra libre</label>
                  <input type="text" class="form-control" id="barraLibre" name="barraLibre" [(ngModel)]="barraLibre">
                </div>
                <div class="form-group mt-3">
                  <label for="flores">Flores</label>
                  <input type="text" class="form-control" id="flores" name="flores" [(ngModel)]="flores">
                </div>
                <div class="form-group mt-3">
                  <label for="ceremoniaBarros">Ceremonia Barros</label>
                  <input type="text" class="form-control" id="ceremoniaBarros" name="ceremoniaBarros" [(ngModel)]="ceremoniaBarros">
                </div>
                <div class="form-group mt-3">
                  <label for="Autobuses">Autobuses</label>
                  <input type="text" class="form-control" id="Autobuses" name="Autobuses" [(ngModel)]="Autobuses">
                </div>
                <div class="form-group mt-3">
                  <label for="bonoAutobus">Bono autobús</label>
                  <input type="text" class="form-control" id="bonoAutobus" name="bonoAutobus" [(ngModel)]="bonoAutobus">
                </div>
                <div class="form-group mt-3">
                  <label for="bonoHotel">Bono hotel</label>
                  <input type="text" class="form-control" id="bonoHotel" name="bonoHotel" [(ngModel)]="bonoHotel">
                </div>
                <div class="form-group mt-3">
                  <label for="vinos">Vinos</label>
                  <input type="text" class="form-control" id="vinos" name="vinos" [(ngModel)]="vinos">
                </div>
                <div class="form-group mt-3">
                  <label for="cava">Cava</label>
                  <input type="text" class="form-control" id="cava" name="cava" [(ngModel)]="cava">
                </div>
                <div class="form-group mt-3">
                  <label for="rincones">Rincones</label>
                  <input type="text" class="form-control" id="rincones" name="rincones" [(ngModel)]="rincones">
                </div>
                <div class="form-group mt-3">
                  <label for="decoracion">Decoración</label>
                  <input type="text" class="form-control" id="decoracion" name="decoracion" [(ngModel)]="decoracion">
                </div>
                <div class="form-group mt-3">
                  <label for="notas">Notas</label>
                  <input type="text" class="form-control" id="notas" name="notas" [(ngModel)]="notas">
                </div>
                <button class="btn btn-outline-success col-12 mt-4" [disabled]="!f.valid">Añadir</button>
            </form>
        </div>
    </div>
  </div>